body {
  /*background-color:#F6BE00;*/
  
}
.play {
  background: black;
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  margin: 10px;
  height: 100px;
  width: 100px;
  transform: scale(1);
  animation: pulse-black 2s infinite;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }
  
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }



body {
  background: url("/doge.gif");
  background-repeat: no-repeat;
  
}
html {
  background-image:url('/dogecoin.jpg'); background-size: auto;
  }
